<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">اگه به مقاله نیاز داری می تونی با ما تماس  بگیری</h2>
                <hr class="light">
                <p class="text-faded">تیمی از دانشجویان پزشکی و دندان پزشکی سراسر ایران</p>
                <a href="#contact" class="btn btn-default btn-xl">همین الان تماس بگیرید</a>
            </div>
        </div>
    </div>
</section>
