<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">راه های ارتباطی ما</h2>
                <hr class="primary">
                <p>به ما از طریق ایمیل و تلگرام میتوانید دسترسی داشته باشید</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-2 text-center">
                <a href="mailto:bettercallus96@gmail.com">
                    <i class="fa fa-google fa-3x wow bounceIn" data-wow-delay=".1s" style="width: 50px; height: 50px;"></i>
                    <p>bettercallus96@gmail.com</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://t.me/BetterCallUs96">
                    <img src="https://telegram.org/img/t_logo.png" alt="Telegram" class="wow bounceIn" data-wow-delay=".1s" style="width: 50px; height: 50px;">
                    <p>https://t.me/BetterCallUs96</p>
                </a>
            </div>
        </div>
    </div>
</section>
