<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">خدمات ما</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>بالا ترین کیفیت </h3>
                    <p class="text-muted">مشاوره جهت نوشتن بهترین پروپوزالها ، مقاله های اریحینال و انواع ریویو</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <a href="https://t.me/BetterCallUs96" target="_blank"><i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wob-delay=".1s"></i></a>
                    <h3>تلگرام ما </h3>
                    <p class="text-muted">به راحتی در تلگرام به ما پیام بدهید</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>مقاله های بدون پلاژیاریسم و هوش مصنوعی </h3>
                    <p class="text-muted">ما به شما کمک می کنیم که مقاله های  بدون پلاژیاریسم و کاملن بدون استفده از هوش مصنوعی داشته باشید</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>تقدیم با عشق</h3>
                    <p class="text-muted">ما با تمام وجو شما را در این راه همراهی خواهیم کرد</p>
                </div>
            </div>
        </div>
    </div>
</section>
